<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nuestro contacto</h2>
                <hr class="primary">
                <p>Echanos un correo o mensaje por nuestras redes sociales para info o para agendar tu cita</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://www.facebook.com/profile.php?id=61552253668938">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Bujia Project Music</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.instagram.com/bujiaprojectmusic">
            <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>@bujiaprojectmusic</p>
            </a>
        </div>

    </div>
</section>
