<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Servicios que ofrecemos</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-solid fa-screwdriver-wrench wow bounceIn text-primary"></i>
                    <h3>Mantenimiento y ajustes básicos</h3>
                    <p class="text-muted">¡Mantén tu instrumento en forma! Nuestros servicios de mantenimiento incluyen limpieza y pulido profesionales, cambio de cuerdas para un sonido fresco y ajustes precisos de la acción y la entonación para que tu guitarra o bajo toque perfectamente.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-toolbox wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Reparaciones y Restauración</h3>
                    <p class="text-muted">Devuelve la vida a tu instrumento. Ofrecemos servicios de reparación que abarcan desde trastes desgastados hasta restauración completa de instrumentos vintage. También realizamos mejoras personalizadas para llevar tu sonido al siguiente nivel.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-microchip wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Electrónica y Sonido</h3>
                    <p class="text-muted">Ajusta tu sonido a la perfección. Nuestros expertos en electrónica pueden ajustar pastillas, cableado eléctrico y sistemas de preamplificación para que tu instrumento suene exactamente como lo deseas. Ofrecemos servicios de instalación y reparación de pickups y electrónica.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-person-chalkboard wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Asesoramiento y Educación</h3>
                    <p class="text-muted">Aprende a cuidar tu instrumento. Además de los servicios técnicos, proporcionamos valiosos consejos de mantenimiento para que puedas mantener tu guitarra o bajo en condiciones óptimas. También ofrecemos clases y talleres sobre el cuidado de instrumentos y personalización estética para los amantes de la individualidad.</p>
                </div>
            </div>
        </div>
    </div>
</section>
